{% extends 'basic.html' %}
{% block body %}
<h1 class="section-header">
  <div>数据详情</div>
</h1>
<div class="section-body">
  <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="float-right">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="查询">
                  <div class="input-group-btn">
                    <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="dropdown d-inline">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: .25rem">
                {{thiscomment}}
              </button>
              <div class="dropdown-menu" id="main-tablelist">
                {% for i in range(tablelen) %}
                {% if not comments[i]==thiscomment %}
                <a class="dropdown-item" href="#" attr="{{tables[i]}}">{{comments[i]}}</a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                        <label for="checkbox-all" class="custom-control-label"></label>
                      </div>
                    </th>
                    {% for columnname in columns %}
                    <th scope="col">{{columnname}}</th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(height) %}
                  <tr>
                    <td width="40">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                        <label for="checkbox-1" class="custom-control-label"></label>
                      </div>
                    </td>
                    <th scope="row">{{ details[i][0] }}</th>
                    {% for j in range(1, wide) %}
                    <td>{{details[i][j]}}</td>
                    {% endfor %}
                    <td><a href="#" class="btn btn-action btn-secondary">查看</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <nav class="d-inline-block">
                <ul class="pagination mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
            <button type="button" class="btn btn-sm btn-primary">下载选中项(.xlsx)</button>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(function(){
    $("#data").siblings('li').removeClass('active');
    $("#data").addClass('active');
  });
</script>
{% endblock %}