<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>Bravo!</title>

<!-- Meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script>
 addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); };
</script>

<!--stylesheets-->
<link href="/static/asserts/css/loginstyle.css" rel='stylesheet' type='text/css'>
<link href="/static/asserts/css/font-awesome.min.css" rel='stylesheet'>

<!-- JS -->
<script type="text/javascript" src="/static/asserts/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/asserts/js/main.js"></script>

</head>

<body>
  	<div class="materialContainer">
		<div class="box">
			<form action="/login" method="post">
				<div class="title">登录</div>
				<div class="input">
					<label id="appidlabel" for="appid">用户名</label>
					<input type="text" name="appid" id="appid" required="">
					<span class="spin"></span>
				</div>
				<div class="input" style="margin-bottom: 10px">
					<label for="pass">密码</label>
					<input type="password" name="password" id="pass">
					<span class="spin"></span>
				</div>
				<div class="row">
					<input type="checkbox" class="checked" name="remember">
					<span class="remember-me">记住我</span>
				</div>
				<div class="button login">
					<button>
						<span>登录</span>
						<i class="fa fa-check"></i>
					</button>
				</div>
				<a href="#" class="pass-forgot" onclick = "document.getElementById('forgot').style.display='block'">修改密码？</a>
			</form>
		</div>

		<div class="overbox" id="forgot" style="display: none">
			<div class="title">修改密码</div>
			<a href="#" class="pass-forgot" onclick = "document.getElementById('forgot').style.display='none'"><i class="fa fa-2x fa-close" style="color: white"></i></a>
			<div class="input">
				<label for="login-appid">Appid</label>
				<input type="text" name="appid" id="login-appid">
				<span class="spin"></span>
			</div>
			<div class="input">
				<label for="login-old-password">原始密码</label>
				<input type="password" name="oldpass" id="login-old-password">
				<span class="spin"></span>
			</div>
			<div class="input">
				<label for="login-new-password">新密码</label>
				<input type="password" name="newpass" id="login-new-password">
				<span class="spin"></span>
			</div>
			<div class="button remember">
				<button id="login-pwd-btn">
					<span>确定</span>
					<i class="fa fa-check"></i>
				</button>
				<div id="change-result" role="alert"></div>
			</div>
		</div>

	</div>
  	<footer class="bottem-wthree-footer">
	 	<p>Copyright &copy; 2020.JujiaoData All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
  	</footer>
  	<script>
	  $(document).ready(function(e){
	  	$("#appidlabel").trigger("click");
		$("#login-pwd-btn").click(function(e){
			let appid = $("#login-appid").val();
			let oldPassword = $("#login-old-password").val();
			let newPassword = $("#login-new-password").val();
			if (appid==""||oldPassword==""||newPassword==""){
				$("#login-forget-reminder").text("不能为空！")
				return
			}
			$.getJSON('/login/changepassword', {old:oldPassword, new:newPassword, appid:appid}, function(e){
				if (e['result']=="success"){
					$("#change-result").html("变更成功，新密码为:"+e["password"]);
					$("#login-pwd-btn").hide()
				}else{
					$("#change-result").html("变更失败:"+e["result"]);
					$("#login-pwd-btn").hide();
				}
			})
		})
	  })
  	</script>
</body>
</html>